html,
body,
#root {
    overflow-x: hidden;
}

@media screen and (min-width: 992px) {
    .service-item:nth-child(-n + 4) {
        border-bottom: 1px solid var(--chakra-colors-lightgray);
    }
    
    .service-item:not(:nth-child(4n)) {
        border-right: 1px solid var(--chakra-colors-lightgray);
    }

    .service-item.no-border:not(:nth-child(4n))::after {
        content: "";
        width: 30px;
        height: 30px;
    
        background-color: white;
    
        top: -34%;
        right: -6%;
    
        position: absolute;
    
        border-radius: 50%;
    }
}

@media screen and (max-width: 991px) {
    .service-item:not(:nth-child(-n + 2)) {
        border-top: 1px solid var(--chakra-colors-lightgray);
    }
    
    .service-item:nth-child(2n + 1) {
        border-right: 1px solid var(--chakra-colors-lightgray);
    }
}


